* {
    box-sizing: border-box;
}

h1 {
    color: purple;
    border: 4px black solid;
    border-top: 4px palevioletred dotted;
    border-bottom: 4px palevioletred dotted;

    margin-right: 500px;
    min-width: 120px;
}

h2 {
    outline: 2px dotted black;
}

p {
    /* word-break: break-all; */
}

.fancy-underline {
    text-decoration:  crimson wavy underline;
}

mark {
    background-color: hotpink;
}

img {
    max-width: 100px;
    width: 1em;
}